{% extends 'learning/base.html' %}
{% load static %}
{% block content %}
<div class="heading">
    <h1>About Us</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat accusantium consequatur aut suscipit, fugiat labore perferendis tempora, repellendus, itaque maxime magnam? Enim soluta aut odio error quaerat voluptatem obcaecati sint!</p>
</div>
<section class="about-us">
    <img src="{% static 'img/lib2.jpg' %}" alt="">
    <div class="content">
        <h2>Lorem ipsum dolor sit amet, consectetur </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="read-more-btn">Read More</button>
    </div>
</section>
{% endblock %}